.Posts {
  background-color: white;
  margin: 4rem 1rem 0 0;
  border: 1px solid rgb(235, 237, 240);
  width: 60%;
}
.Arrow {
  border: solid rgb(114, 114, 114);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
.Up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.Down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.PostComponent {
  position: relative;
  display: flex;
  height: fit-content;
  .PostVotes {
    min-width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(235, 237, 240);

    .Votes {
      text-align: center;
    }
  }
  .PostDescription {
    border: 1px solid rgb(235, 237, 240);
    width: 95%;
    .PostTitle {
      font-size: 1rem;
      margin: 0.5rem;
      color: black;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .PostText {
      color: #818e99;
      font-weight: 400;
      font-size: 0.8rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0.5rem;
    }
    .DeleteIcon {
      display: block;
      font-size: 0.8rem;
      appearance: none;
      background: none;
      border: none;
      padding: 0;
      margin-left: 0.5rem;
      color: #818e99;
    }
    .DeleteIcon:hover {
      color: black;
      cursor: pointer;
    }
  }
}
@media (max-width: 40rem) {
  .Posts {
    background-color: white;
    margin: 4rem 1rem 0 0;
    border: 1px solid rgb(235, 237, 240);
    width: 100%;
    .PostVotes {
      min-width: 7%;
    }
    .PostDescription {
      width: 93%;
    }
  }
}
