.Posts {
  min-height: 100vh;
  width: 70vw;
  background-color: white;
  margin: 4rem 1rem 0 0;
  border: 1px solid rgb(235, 237, 240);
}
.Arrow {
  border: solid rgb(114, 114, 114);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
  cursor: pointer;
}
.Up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.Down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.PostComponent {
  display: flex;
  overflow: hidden;
  height: 80px;
  .PostVotes {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid rgb(235, 237, 240);

    .Votes {
      text-align: center;
    }
  }
  .PostDescription {
    padding-left: 8px;
    border: 1px solid rgb(235, 237, 240);
    width: 100%;
    .PostTitle {
      font-size: 1.2rem;
      span {
        display: inline-block;
        white-space: nowrap;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .PostText {
      color: gray;
      p {
        display: inline-block;
        white-space: nowrap;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 5px 0;
      }
    }
  }
}
