.HeaderComponent {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  height: 4rem;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(235, 237, 240);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  .HeaderTitle {
    margin-left: 2rem;
    color: #818e99;
  }
  .UserOptions {
    list-style-type: none;
    margin: 0 1rem;
    padding: 0;
    display: flex;
    align-items: center;
    .User {
      min-width: 4rem;
      cursor: pointer;
      text-align: center;
      padding: 0.5rem;
      font-weight: 500;
      margin: 0.5rem;
      color: rgb(129, 142, 153);
      border-radius: 10px;
    }
    .User:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
