.MainContent {
  display: flex;
  width: 90%;
  margin: 4rem auto;
  justify-content: space-evenly;
}

@media (max-width: 40rem) {
  .MainContent {
    flex-direction: column;
    flex-direction: column-reverse;
  }
}
